.content {
	width: 100%;
}

.post {
}

.post-item {
	width: 800px;
	margin: 0 auto;
}
.post-user {
	display: flex;
}
.post-con {
	text-align: left;
	padding-left: 10px;
}
.post-name {
	font-size: 12px;
}
.post-date {
	font-size: 1px;
	color: #787c7B;
}
.post-text {
	text-align: left;
}
